{{template "cv/header"}}
<p class="info">
  Endereço: Salvador – BA – Brasil<br/>
  Telefone: +55 71 98788-6089 - E-mail: gwmoura@gmail.com<br/>
  {{with .YearsOld}} idade: {{.}} - {{end}} Estado Civil: Casado
</p>
<p class="introduction">
  Desenvolvedor de software com experiência em sistemas web, trabalhando com integrações entre sistemas, automação de processos, e-commerces, mobile apps e web. Sempre procurando novas tecnologias para testar e usar, contribuidor de projetos open source e curioso.
</p>
<p class="formation">
  <div class="title">Formação Acadêmica</div>
  <ul>
    <li>Sistemas para Internet – UNIFACS, conclusão em 2012</li>
  </ul>
</p>
<p class="profissional-xp">
  <div class="title">Experiência Profissional</div>
  <ul>
    <li>
      <b>2012-hoje - Projetos pessoais</b><br/>
      Criou algums projetos para estudar, testar, conhecer e usar novas tecnologias, desenvolveu o seu website na Google App Engine usando Go, desenvolveu a app android simples para salvar cartões comerciais e publicou na Google Play, desenvolveu um crawler web para pegar informações sobre cidades brasileiras usando Sinatra e Ruby, desenvolveu a um script simples para estudar criptografia, desenvolveu algumas app no Heroku e Google App Engine, usou Digital Ocean, AWS e Google Cloud Platform para criar e gerenciar servidores na nuvem, começou a utilizar Docker como ambiente de desenvolvimento. Contribuiu em alguns projetos como tsuru/planb, tsuru/platforms e GoogleCloudPlatform/gcloud-ruby.
      <ol>
        <li>George Moura Site - Go</li>
        <li>Card Wallet - Android</li>
        <li>IBGE Search - Ruby</li>
        <li>Ubuntu Notify - Ruby</li>
        <li>py-caesar-cipher - Python</li>
        <li>python-imageopt - Python</li>
      </ol>
    </li>
    <li>
      <b>2015-2016 - Web Developer, Zertico.</b><br/>
      Contratado para ingressa na equipe para desenvolver uma nova solução da empresa envolvendo cloud servers, API e ferramenta de linha de comando. Desenvolveu uma solution em nuvem para clients Softlayer. Criou a uma ferramenta cli para acessar uma API. Contribuiu com o desenvolvimento de uma gem para consumir a API da Softlayer. Desenvolveu uma integração com Pagseguro.
      <ol>
        <li>Horus - Ruby, Rails</li>
        <li>Horus Cli - Ruby</li>
        <li>Softlayer Mock - Ruby</li>
      </ol>
    </li>
    <li>
      <b>2015-today - Software Developer, Igreja Batista Lírio dos Vales</b><br/>
      Voluntário como desenvolvedor de software, criou e gerenciou um pequena equipe para criar e entregar produtos para melhorar a igreja.
      Desenvolveu um app para igreja, desenvolveu um site, desenvolveu um client para consumir a API do software Church Metrics.
      <ol>
        <li>Lírio SIte - PHP, wordpress</li>
        <li>Lirio APP - Ionic FrameWork</li>
        <li>Church Metrics API - Ruby, Sinatra</li>
      </ol>
    </li>
    <li>
      <b>2015 - Web Developer, Aulatech.</b><br/>
      Contratado para desenvolver um sistema para reproduzir vídeo aulas com integração com pagseguro.
      <ol>
        <li><b>Projects in company</b></li>
        <li>Aulatech Plaftorm - PHP, Laravel</li>
      </ol>
    </li>
    <li>
      <b>2015-2015 - Bolsista CNPQ, Instituto SESI de Inovação - FIEB.</b><br/>
      Ponto de comunicação entre a TI SESI e Instituto Stela, responsável por testar e gerenciar as entregas da Plataforma SESI Integra e criar outras soluções para intgrar com a Plataforma SESI Integra.
      Desenvolveu uma API para integrar outros sistemas com o sistema Plataforma SESI Integra.
      Desenvolveu um software para coletar dados do base de dados do S4 (Sistema SESI de Saúde e Segurança) e transportar para a API.
      Iniciou um software para testar a interface da Plataforma SESI Integra.
      <ol>
        <li><b>Projects in company</b></li>
        <li>Integrator - Java, Spring</li>
        <li>S4 Colector - Java, Spring</li>
        <li>SESI INtegra UI tester - Java, Selenium</li>
      </ol>
    </li>
    <li>
      <b>2014 - Web Developer, SIPP (Sistema de Informação para Proteção à Pessoa).</b><br/>
      Desenvolveu uma nova interface para o APP, permitindo a visualização em dispositivos móveis.
      <ol>
        <li><b>Projects in company</b></li>
        <li>SIPP APP - PHP, HTML, CSS, Javascript</li>
      </ol>
    </li>
    <li>
      <b>2014 - Web Developer, Projeto Indústria Ecoeficiente.</b><br/>
      Contratado para fornecer uma solução de questionário para avaliar as respostas dos clientes do projeto e dessas respostas criar um relatório com dicas de redução de custos.
      <ol>
        <li><b>Projects in company</b></li>
        <li>Indústria Ecoeficiente Questionary - ruby, rails</li>
      </ol>
    </li>
    <li>
      <b>2013-2015 - Bolsista CNPQ, IEL (Instituto Euvaldo Lodi) - FIEB.</b><br/>
      Desenvolveu um sistema para auxiliar a inovação na empresa.
       Desenvolvidos muitos hotsites para os usuários se inscrever em eventos.
       Desenvolveu um sistema para gerir os recursos de empresas no projeto.
       Desenvolveu um roteiro para a coleta de dados em um banco de dados e replicação em outro.
       Desenvolveu um aplicativo simples para enviar imagens do evento para um servidor centralizado.
       Desenvolveu um app questionário web.
       Desenvolveu uma API para um dos módulos do SISJOIN.
       Desenvolveu um aplicativo web para acessar um módulo do SISJOIN.
       Desenvolveu um app questionário para o usuário registrar suas informações sobre inovação e gerar um relatório sobre o nível de inovação da empresa.
       Desenvolveu um simples bate-papo usando websockets
      <ol>
        <li><b>Projects in company</b></li>
        <li>Sisjoin - PHP, Wordpress</li>
        <li>Matriz JOIN - Python, Flask</li>
        <li>JOIN APP - Javascript, jQuery</li>
        <li>Sistema de Gestão Join - PHP, Laravel</li>
        <li>JOIN Colector - Python</li>
        <li>Gere Ideias APP - Javascript, Angular</li>
        <li>SISJOIN API - PHP, Slim </li>
        <li>SISJOIN Chat - Nodejs</li>
      </ol>
    </li>
    <li>
      <b>2012-2013 - Web Developer, Com Q Relógio.</b><br/>
      Contratado para desenvolver um e-commerce de integração com Sefaz-BA, foi utilizado NFePHP para fazer a integração e emitir NF-e
      <ol>
        <li><b>Projects in company</b></li>
        <li>Aulatech E-commerce - PHP, OpenCart</li>
      </ol>
    </li>
    <li>
      <b>2012-2013 - Web Developer, Julio Rocha</b><br/>
      Desenvolveu um website para capanha de Julio Rocha
      <ol>
        <li><b>Projects in company</b></li>
        <li>Julio Rocha Website - PHP, Wordpress</li>
      </ol>
    </li>
    <li>
      <b>2012-2012 - Web Developer, Almeida Camargo e Mota Advogados.</b><br/>
      Desenvolveu uma interface de usuário para um software criado utilizando o software Maker.
      <ol>
        <li><b>Projects in company</b></li>
        <li>Folder Manager Interface - HTML, CSS, Javascript</li>
      </ol>
    </li>
    <li>
      <b>2008 - today - Fullstack Developer - Leme Indústria e Comércio</b><br/>
      Criou e implementou soluções de TI para a empresa, genrnciou servidores e era suporte para o ERP da empresa.
      Desenvolveu um software para automatizar um processo manual para o pagamento do cliente.
      Desenvolveu um software para gerenciar os pedidos de bordados na empresa.
      Desenvolveu um app android simples de consultar o status do pedido do cliente.
      Desenvolveu um software para organizar o processo interno de encomendar de mercadorias.
      Desenvolveu um app relatório para mostrar a situação financeira da empresa.
      Desenvolveu um software para a listas os contatos da empresa guardados no ERP.
      Desenvolveu um script para sincronizar o estoque da empresa com o estoque do e-commerce.
      Desenvolveu um e-commerce e acrescentou algumas mudanças para se adaptar às necessidades da empresa
      Migrou uma infra-estrutura local para a AWS.
      Criou uma carga de trabalho para usar Tsuru na Google Cloud Platform.
      Criou um aplicativo simples para automatizar o processo de desligamento e começar para o servidor no AWS.
      Automatizou a rotina de backup do MSSQL e envio dos arquivos para o Google Cloud Storage.
      Criou um catálogo de produtos simples.
      Criou uma API de login para permitir que todos os aplicativos usam a mesma interface de login.
      <ol>
        <li><b>Projects in company</b></li>
        <li>Leme Contatos - PHP, Slim</li>
        <li>Leme Encomenda - Python, Flask</li>
        <li>Leme BI - Ruby, Rails</li>
        <li>Leme Financeiro - PHP</li>
        <li>Leme e-commerce - PHP, OpenCart</li>
        <li>Windows e MSSQL na AWS</li>
        <li>Tsuru na Google Cloud Platform</li>
        <li>Leme Cloud Resources - Ruby, Sinatra</li>
        <li>Leme Demanda - PHP, Slim</li>
        <li>Metal Militar - Ruby, Rails</li>
        <li>Leme API - PHP, Slim</li>
        <li>Backup MSSQL - python</li>
        <li>e-commerce stock update</li>
      </ol>
    </li>
  </ul>
</p>
<p class="qualifications">
  <div class="title">Habilidades</div>
  <ul>
    <li><b>Linguagens de Programação:</b> <code>C#, Go, Java, Javascript, PHP, Python, Ruby</code></li>
    <li><b>Frameworks:</b> <code>Rails, Sinatra, Laravel, Zend, Yii, Slim, Flask, jQuery, Nodejs, Twitter Bootstrap, Angular JS</code></li>
    <li><b>Test Frameworks:</b> <code>PHPUnit, Ruby test-unit, minitest, Python unittest, QUnit, JUnit, Selenium</code></li>
    <li><b>Metodologias:</b> <code>Kanban</code></li>
    <li><b>Sistmas Operacionais:</b> <code>Linux, Windows, Mac, Chrome OS</code></li>
    <li><b>Sistemas Operacionais Mobile:</b> <code>Android, Windows Phone, Firefox OS</code></li>
    <li><b>Controle de Versão:</b> <code>Git</code></li>
    <li><b>Virtualização:</b> <code>VirtualBox, Vagrant, Docker</code></li>
    <li><b>Databases:</b> <code>Microsoft SQL Server, MySQL, PostgreSQL</code></li>
    <li><b>Monotoramento:</b> <code>Google Analytics, Newrelic</code></li>
    <li><b>PaaS:</b> <code>Google Appengine, Heroku, Tsuru</code></li>
    <li><b>Provedores de Nuvem:</b> <code>Amazon, Digital Ocean, Google Cloud Platform</code></li>
  </ul>
</p>
<p class="open_source_projects">
  <div class="title">Projetos Open Source</div>
  <ul>
    <li><a href="https://github.com/12factor/12factor-br">12factor Apps BR - github.com/12factor/12factor-br</a></li>
    <li><a href="https://github.com/gomex/docker-zabbix">docker-zabbix - github.com/gomex/docker-zabbix</a></li>
    <li><a href="https://github.com/lememilitar/bkpsqlserver">bkpsqlserver - github.com/lememilitar/bkpsqlserver</a></li>
    <li><a href="https://github.com/gwmoura/ibge-search">IBGE Search - github.com/gwmoura/ibge-search</a></li>
    <li><a href="https://github.com/gwmoura/churchmanager">Church Manager - github.com/gwmoura/churchmanager</a></li>
    <li><a href="https://github.com/gwmoura/python-imageopt">Python Imageopt - github.com/gwmoura/python-imageopt</a></li>
    <li><a href="https://github.com/gwmoura/planb">Planb - https://github.com/gwmoura/planb</a></li>
    <li><a href="https://github.com/gwmoura/platforms">Tsuru Platform - https://github.com/gwmoura/platforms</a></li>
    <li><a href="https://github.com/gwmoura/go-dockerclient">go-dockerclient - https://github.com/gwmoura/go-dockerclient</a></li>
    <li><a href="https://github.com/gwmoura/gcloud-ruby">gcloud-ruby - https://github.com/gwmoura/gcloud-ruby</a></li>
    <li><a href="https://github.com/gwmoura/bwag">bwag - https://github.com/gwmoura/bwag</a></li>
    <li><a href="https://github.com/gwmoura/lirioapp">Lirio APP - https://github.com/gwmoura/lirioapp</a></li>
    <li><a href="https://github.com/iblv/churchmetrics-api-client">Church Metrics API Client - https://github.com/iblv/churchmetrics-api-client</a></li>
    <li><a href="https://github.com/lememilitar/docker-ruby">Heroku Ruby Docker Image with TDS - https://github.com/lememilitar/docker-ruby</a></li>
    <li><a href="https://github.com/lememilitar/gcsfuse-install">gcsfuse install - https://github.com/lememilitar/gcsfuse-install</a></li>
  </ul>
</p>
<p class="info_plus">
  <div class="title">Informações Adicionais</div>
  Volutário na Igreja Batista Lírio dos Vales - Pituba<br/>
  Co-organizador do Docker Salvador meetup<br/>
  Escritor Tableless - <a href="http://tableless.com.br/author/gwmoura/">http://tableless.com.br/author/gwmoura/</a><br/>
  Play Store APPs - <a href="https://play.google.com/store/apps/developer?id=George+Moura">https://play.google.com/store/apps/developer?id=George+Moura</a><br/>
  Blog - <a href="http://www.georgemoura.com.br">http://www.georgemoura.com.br</a><br/>
  Github - <a href="https://github.com/gwmoura">https://github.com/gwmoura</a><br/>
  Twitter - <a href="http://twitter.com/georgemoura">http://twitter.com/georgemoura</a><br/>
</p>
