<article>
  <header>
    <h1 class="entry-title">Instalando Docker no Ubuntu 14.04</h1>
    <div class="entry-meta">
      <span class="date">
        <a href="http://georgemoura.com.br/instalando-docker-no-ubuntu-1404" title="Link permanente para Intalando Docker no Ubuntu 14.04" rel="bookmark">
          <time class="entry-date" datetime="22/11/2015 17:15">22/11/2015 17:15</time>
        </a>
      </span>
    </div><!-- .entry-meta -->
  </header>

  <div class="entry-content">
    Para instalar o docker no ubuntu 14.04 é simples:<br/>
    Abra o terminal com <code>ctrl+alt+t</code> e verifique se você possui o wget com o comando <code>which wget</code>, caso não possua instale usando o comando <code>sudo apt-get install wget</code>.
    <h4>Instalando o Docker</h4>
    Ainda no terminal digite <code>wget -qO- https://get.docker.com/ | sh</code>.<br/>
    Após o script ser executado o docker já estará instalado, para poder executá-lo sem a necessidade de digitar sudo na frente digite este comando para adiconar seu usuário ao grupo docker <code>sudo usermod -aG docker $USER</code>.<br/>
    No tutoarial oficial (<a href="http://docs.docker.com/linux/step_one/">http://docs.docker.com/linux/step_one/</a>) eles informam que após esse processo para testar o docker basta executar: <code>docker run hello-world</code> e você verá algo desse tipo:
    <code>
      Unable to find image 'hello-world:latest' locally
      latest: Pulling from library/hello-world
      535020c3e8ad: Pull complete
      af340544ed62: Pull complete
      Digest: sha256:a68868bfe696c00866942e8f5ca39e3e31b79c1e50feaee4ce5e28df2f051d5c
      Status: Downloaded newer image for hello-world:latest


      Hello from Docker.
      This message shows that your installation appears to be working correctly.


      To generate this message, Docker took the following steps:
       1. The Docker client contacted the Docker daemon.
       2. The Docker daemon pulled the "hello-world" image from the Docker Hub.
       3. The Docker daemon created a new container from that image which runs the
          executable that produces the output you are currently reading.
       4. The Docker daemon streamed that output to the Docker client, which sent it
          to your terminal.


      To try something more ambitious, you can run an Ubuntu container with:
       $ docker run -it ubuntu bash


      Share images, automate workflows, and more with a free Docker Hub account:
       https://hub.docker.com


      For more examples and ideas, visit:
       https://docs.docker.com/userguide/


      To try something more ambitious, you can run an Ubuntu container with:
       $ docker run -it ubuntu bash


      For more examples and ideas, visit:
       https://docs.docker.com/userguide/
    </code>
    <br/>
     no meu caso isso não funcionou, então tive que editar o arquivo <code>/etc/default/docker</code>, então vamos lá digite no seu terminal <code>nano /etc/default/docker</code> e você verá algo desse tipo:
     <br/>
     <code>
        # Docker Upstart and SysVinit configuration file

        # Customize location of Docker binary (especially for development testing).
        #DOCKER="/usr/local/bin/docker"

        # Use DOCKER_OPTS to modify the daemon startup options.
        #DOCKER_OPTS="--dns 8.8.8.8 --dns 8.8.4.4"

        # If you need Docker to use an HTTP proxy, it can also be specified here.
        #export http_proxy="http://127.0.0.1:3128/"

        # This is also a handy place to tweak where Docker's temporary files go.
        #export TMPDIR="/mnt/bigdrive/docker-tmp"
     </code>
      descomente a linha <code>#DOCKER_OPTS="--dns 8.8.8.8 --dns 8.8.4.4"</code> e adicionae a linha <code>DOCKER_HOST="/var/run/docker.sock"</code>
      <br/>
      seu arquivo deve fica assim:
      <br/>
      <code>
        # Docker Upstart and SysVinit configuration file

        # Customize location of Docker binary (especially for development testing).
        #DOCKER="/usr/local/bin/docker"

        # Use DOCKER_OPTS to modify the daemon startup options.
        DOCKER_OPTS="--dns 8.8.8.8 --dns 8.8.4.4"

        # If you need Docker to use an HTTP proxy, it can also be specified here.
        #export http_proxy="http://127.0.0.1:3128/"

        # This is also a handy place to tweak where Docker's temporary files go.
        #export TMPDIR="/mnt/bigdrive/docker-tmp"

        DOCKER_HOST="/var/run/docker.sock"
      </code>
      Após salvar o arquivo digite no terminal <code>sudo service docker restart</code> para reiniciar o serviço do docker e agora você pode testar <code>docker run hello-world</code>.

      É isso aí pessoal! ;)
  </div>
  <footer>

  </footer>>
</article>
