@import url(//fonts.googleapis.com/css?family=Ubuntu);
body{
  font-family: 'Ubuntu', sans-serif;
}
pre{
	word-wrap: break-word;
}
article{
	word-wrap: break-word;
}
ul li,a{
	padding-bottom: 10px;
}
.anuncio{width: 50%; margin: 5px; margin-left: auto; margin-right: auto;}
/* cv css */
.header{ text-align: center; }
.title{
  background: #D9D9D9 !important;
  font-weight: bold;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.info{
  text-align: center;
}
/* end cv css */

pre{background-color: #000; color:#fff; padding: 5px;border-radius: 3px;}
code{background-color: #ddd; color: #000; padding: 5px;border-radius: 3px;}
#disqus_thread{width:90%;margin: 0 auto;}
.cnt-letra{font-size: 19px; line-height: 1.6;}
