<article>
  <header>
    <h1 class="entry-title">{{ .Title }}</h1>
    <div class="entry-meta">
      <span class="date">
        <a href="{{ .Link }}" title="Link permanente para {{ .Title }}" rel="bookmark">
          <time class="entry-date" datetime="{{ .CreatedAt }}">{{ .CreatedAt }}</time>
        </a>
      </span>
    </div><!-- .entry-meta -->
  </header>

  <div class="entry-content">
    [post-content]
    referências

    https://gist.github.com/runemadsen/1242485
    http://guides.rubyonrails.org/association_basics.html#polymorphic-associations
    http://stackoverflow.com/questions/14422101/reverse-polymorphic-association-in-rails-accessing-the-parents-attributes
    http://stackoverflow.com/questions/10198727/rails-reverse-polymorphic-association
  </div>
  <footer>

  </footer>>
</article>
