{% extends "layout.html" %}
{% block body %}

<div class="header">
  <h1>George William Barros de Moura</h1>
</div>
<hr/>
<p class="info">
  Rua Lavínia Magalhães, 619 – Boca do Rio - Salvador – BA – CEP 41710-020<br/>
  Telefone: (71) 8788-6089 - E-Mail: gwmoura@gmail.com<br/>
  Idade: 24 Anos - Estado Civil: Casado
</p>
<p class="formation">
  <div class="title">Formação Acadêmica</div>
  <ul>
    <li>Sistemas para Internet – UNIFACS - 2012</li>
  </ul>
</p>
<p class="profissional-xp">
  <div class="title">Experiência Profissional</div>
  <ul>
    <li>IEL (Instituto Euvaldo Lodi) - FIEB - 2014-2015</li>
    <li>SIPP - 2014</li>
    <li>Projeto Indústria Ecoeficiente - 2014</li>
    <li>Church Manager - 2014 - hoje</li>
    <li>Tableless - 2014</li>
    <li>Card Wallet - 2014</li>
    <li>Com Q Relógio - 2012-2013</li>
    <li>Julia Rocha - 2012-2013</li>
    <li>Almeida Camargo e Mota Advogados - 2012–2012</li>
    <li>Leme Indústria e Comércio - 2008-2013</li>
    <li>Projetos Pessoais - 2012 - hoje</li>
  </ul>
</p>
<p class="qualifications">
  <div class="title">Qualificações e Atividades Complementares</div>
  <ul>
    <li>Linguagens de Programação</li>
    <li>Frameworks</li>
    <li>Frameworks de Testes</li>
    <li>Sistemas Operacionais</li>
    <li>Sistemas Operacionais Mobile</li>
    <li>Controle de versão</li>
    <li>Virtualização</li>
    <li>Banco de dados</li>
    <li>Ferramentas de Monitoramento</li>
  </ul>
</p>
<p class="info_plus">
  <div class="title">Informações Adicionais</div>
  Escritor do Tableless - <a href="http://tableless.com.br/author/gwmoura/">http://tableless.com.br/author/gwmoura/</a><br/>
  Aplicativos na Play Store - <a href="https://play.google.com/store/apps/developer?id=George+Moura">https://play.google.com/store/apps/developer?id=George+Moura</a><br/>
  Blog - <a href="http://www.georgemoura.com.br">http://www.georgemoura.com.br</a><br/>
  Github - <a href="https://github.com/gwmoura">https://github.com/gwmoura</a><br/>
  Twitter - <a href="http://twitter.com/georgemoura">http://twitter.com/georgemoura</a><br/>
</p>

{% endblock %}