{% extends "layout.html" %}
{% block body %}

<div class="header">
  <h1>George William Barros de Moura</h1>
</div>
<hr/>
<p class="info">
  Rua Lavínia Magalhães, 619 – Boca do Rio - Salvador – BA – CEP 41710-020<br/>
  Telefone: (71) 8788-6089 - E-Mail: gwmoura@gmail.com<br/>
  {% if years_old %} Idade: {{ years_old }}  Anos - {% endif %}Estado Civil: Casado
</p>
<p class="formation">
  <div class="title">Formação Acadêmica</div>
  <ul>
    <li>Sistemas para Internet – UNIFACS - 2009 - 2012</li>
  </ul>
</p>
<p class="profissional-xp">
  <div class="title">Experiência Profissional</div>
  <ul>
    <li>Instituto SESI de Inovação - FIEB - 2015-hoje</li>
    <li>IEL (Instituto Euvaldo Lodi) - FIEB - 2014-2015</li>
    <li>SIPP - 2014</li>
    <li>Projeto Indústria Ecoeficiente - 2014</li>
    <li>Church Manager - 2014-hoje</li>
    <li>Tableless - 2014</li>
    <li>Card Wallet - 2014</li>
    <li>Com Q Relógio - 2012-2013</li>
    <li>Julia Rocha - 2012-2013</li>
    <li>Almeida Camargo e Mota Advogados - 2012–2012</li>
    <li>Leme Indústria e Comércio - 2008-2013</li>
    <li>Projetos Pessoais - 2012-hoje</li>
  </ul>
</p>
<p class="qualifications">
  <div class="title">Qualificações e Atividades Complementares</div>
  <ul>
    <li><b>Linguagens de Programação:</b> <code>PHP, Java, Javascript, Ruby, Python, Go, C#</code></li>
    <li><b>Frameworks:</b> <code>Rails, Sinatra, Laravel, Zend, Yii, Slim, Flask, jQuery, Nodejs, Twitter Bootstrap, Angular JS</code></li>
    <li><b>Frameworks de Testes:</b> <code>PHPUnit, Ruby test-unit, QUnit, JUnit, Selenium</code></li>
    <li><b>Metodologias:</b> <code>Kanban</code></li>
    <li><b>Sistemas Operacionais:</b> <code>Linux, Windows, Mac, Chrome OS</code></li>
    <li><b>Sistemas Operacionais Mobile:</b> <code>Android, Windows Phone, Firefox OS</code></li>
    <li><b>Controle de versão:</b> <code>Git</code></li>
    <li><b>Virtualização:</b> <code>VirtualBox, Vagrant, Docker</code></li>
    <li><b>Banco de dados:</b> <code>MySQL, Microsoft SQL Server</code></li>
    <li><b>Monitoramento:</b> <code>Nagios, Newrelic, Google Analytics</code></li>
    <li><b>Paas:</b> <code>Google Appengine, Heroku, Tsuru</code></li>
    <li><b>Cloud Providers:</b> <code>Google Cloud Platform, Amazon, Digital Ocean</code></li>
  </ul>
</p>
<p class="open_source_projects">
  <div class="title">Projetos Open Source</div>
  <ul>
    <li><a href="https://github.com/12factor/12factor-br">12factor Apps BR - github.com/12factor/12factor-br</a></li>
    <li><a href="https://github.com/gomex/docker-zabbix">docker-zabbix - github.com/gomex/docker-zabbix</a></li>
    <li><a href="https://github.com/lememilitar/bkpsqlserver">bkpsqlserver</a></li>
    <li><a href="https://github.com/gwmoura/ibge-search">IBGE Search - github.com/gwmoura/ibge-search</a></li>
    <li><a href="https://github.com/gwmoura/churchmanager">Church Manager - github.com/gwmoura/churchmanager</a></li>
    <li><a href="https://github.com/gwmoura/python-imageopt">Python Imageopt - github.com/gwmoura/python-imageopt</a></li>
    <li><a href="https://github.com/gwmoura/tablelessandroid">Tableless Android - github.com/gwmoura/tablelessandroid</a></li>
  </ul>
</p>
<p class="info_plus">
  <div class="title">Informações Adicionais</div>
  Escritor do Tableless - <a href="http://tableless.com.br/author/gwmoura/">http://tableless.com.br/author/gwmoura/</a><br/>
  Aplicativos na Play Store - <a href="https://play.google.com/store/apps/developer?id=George+Moura">https://play.google.com/store/apps/developer?id=George+Moura</a><br/>
  Blog - <a href="http://www.georgemoura.com.br">http://www.georgemoura.com.br</a><br/>
  Github - <a href="https://github.com/gwmoura">https://github.com/gwmoura</a><br/>
  Twitter - <a href="http://twitter.com/georgemoura">http://twitter.com/georgemoura</a><br/>
</p>

{% endblock %}