<div class="posts">
  <div class="post card-panel">
    {{template "posts/criando-vms-na-google-cloud-platform"}}
  </div>
  <div class="post card-panel">
    {{template "posts/iniciando-com-o-docker"}}
  </div>
  <div class="post card-panel">
    {{template "posts/chrome-os-no-meu-pc"}}
  </div>
  <div class="post card-panel">
    {{template "posts/como-deletar-registros-duplicados-no-banco-de-dados-deixando-apenas-um"}}
  </div>
  <div class="post card-panel">
    {{template "posts/uma-boa-ide-para-ruby-on-rails"}}
  </div>
</div>