<div class="posts">
  {{range .Posts}}
    <div class="post card-panel">
      <h5><a class="collection-item" href="{{.Link}}" title="{{.Title}}">{{.Title}}</a></h5>
      <div class="date">
        {{.CreatedAt}}
      </div>
      <div class="description">
        {{.Description}}
        <br/>
        <a href="{{.Link}}" title="Leia mais sobre {{.Title}}">leia mais...</a>
      </div>
    </div>
  {{end}}
</div>