<div class="header">
  <h1>George William Barros de Moura</h1>
</div>
<hr/>
<p class="info">
  Rua Lavínia Magalhães, 619 – Boca do Rio - Salvador – BA – CEP 41710-020<br/>
  Telefone: (71) 8788-6089 - E-Mail: gwmoura@gmail.com<br/>
  {{with .YearsOld}} Idade: {{.}}  Anos - {{end}}Estado Civil: Casado
</p>
<p class="formation">
  <div class="title">Formação Acadêmica</div>
  <ul>
    <li>Sistemas para Internet – UNIFACS - 2009 - 2012</li>
  </ul>
</p>
<p class="profissional-xp">
  <div class="title">Experiência Profissional</div>
  <ul>
    <li>
      Zertico - 2015-2016
      <ol>
        <li><b>Projetos in company</b></li>
        <li>Horus Cli - ruby</li>
        <li>Softlayer Mock - ruby</li>
      </ol>
    </li>
    <li>Aulatech - 2015 - PHP</li>
    <li>
      Instituto SESI de Inovação - FIEB - 2015-2015
      <ol>
        <li><b>Projetos in company</b></li>
        <li>Integrator - Java</li>
        <li>S4 Colector - Java</li>
      </ol>
    </li>
    <li>SIPP - 2014 - Javascript</li>
    <li>Projeto Indústria Ecoeficiente - 2014 - Ruby</li>
    <li>
      IEL (Instituto Euvaldo Lodi) - FIEB - 2013-2015
      <ol>
        <li><b>Projetos in company</b></li>
        <li>Sisjoin - PHP</li>
        <li>Matriz JOIN - Python</li>
        <li>JOIN APP - Javascript</li>
        <li>Sistema de Gestão Join - PHP</li>
        <li>JOIN Colector - Python</li>
      </ol>
    </li>
    <li>Com Q Relógio - 2012-2013 - PHP</li>
    <li>Julio Rocha - 2012-2013 - PHP</li>
    <li>
      Projeto Pessoais - 2012-hoje
      <ol>
        <li>Church Manager - Ruby</li>
        <li>Tableless - Android</li>
        <li>Card Wallet - Android</li>
        <li>IBGE Search - Ruby</li>
        <li>Card Wallet - Android</li>
        <li>Ubuntu Notify - Ruby</li>
        <li>py-caesar-cipher - Python</li>
        <li>python-imageopt - Python</li>
      </ol>
    </li>
    <li>Almeida Camargo e Mota Advogados - 2012–2012</li>
    <li>
      Leme Indústria e Comércio - 2008-hoje
      <ol>
        <li><b>Projetos in company</b></li>
        <li>Leme Contatos - PHP</li>
        <li>Leme Encomenda - Python</li>
        <li>Leme BI - Ruby</li>
        <li>Leme Financeiro - PHP</li>
        <li>Leme e-commerce - PHP</li>
        <li>Windows e MSSQL na AWS</li>
        <li>Tsuru na Google Cloud Platform</li>
        <li>Leme Cloud Resources - Ruby</li>
        <li>Leme Demanda - PHP</li>
        <li>Metal Militar - Ruby</li>
        <li>Leme API - PHP</li>
        <li>Backup MSSQL - python</li>
      </ol>
    </li>
  </ul>
</p>
<p class="qualifications">
  <div class="title">Qualificações e Atividades Complementares</div>
  <ul>
    <li><b>Linguagens de Programação:</b> <code>C#, Go, Java, Javascript, PHP, Python, Ruby</code></li>
    <li><b>Frameworks:</b> <code>Rails, Sinatra, Laravel, Zend, Yii, Slim, Flask, jQuery, Nodejs, Twitter Bootstrap, Angular JS</code></li>
    <li><b>Frameworks de Testes:</b> <code>PHPUnit, Ruby test-unit, minitest, Python unittest, QUnit, JUnit, Selenium</code></li>
    <li><b>Metodologias:</b> <code>Kanban</code></li>
    <li><b>Sistemas Operacionais:</b> <code>Linux, Windows, Mac, Chrome OS</code></li>
    <li><b>Sistemas Operacionais Mobile:</b> <code>Android, Windows Phone, Firefox OS</code></li>
    <li><b>Controle de versão:</b> <code>Git</code></li>
    <li><b>Virtualização:</b> <code>VirtualBox, Vagrant, Docker</code></li>
    <li><b>Banco de dados:</b> <code>Microsoft SQL Server, MySQL, PostgreSQL</code></li>
    <li><b>Monitoramento:</b> <code>Google Analytics, Nagios, Newrelic</code></li>
    <li><b>Paas:</b> <code>Google Appengine, Heroku, Tsuru</code></li>
    <li><b>Cloud Providers:</b> <code>Amazon, Digital Ocean, Google Cloud Platform</code></li>
  </ul>
</p>
<p class="open_source_projects">
  <div class="title">Projetos Open Source</div>
  <ul>
    <li><a href="https://github.com/12factor/12factor-br">12factor Apps BR - github.com/12factor/12factor-br</a></li>
    <li><a href="https://github.com/gomex/docker-zabbix">docker-zabbix - github.com/gomex/docker-zabbix</a></li>
    <li><a href="https://github.com/lememilitar/bkpsqlserver">bkpsqlserver - github.com/lememilitar/bkpsqlserver</a></li>
    <li><a href="https://github.com/gwmoura/ibge-search">IBGE Search - github.com/gwmoura/ibge-search</a></li>
    <li><a href="https://github.com/gwmoura/churchmanager">Church Manager - github.com/gwmoura/churchmanager</a></li>
    <li><a href="https://github.com/gwmoura/python-imageopt">Python Imageopt - github.com/gwmoura/python-imageopt</a></li>
    <li><a href="https://github.com/gwmoura/planb">Planb - https://github.com/gwmoura/planb</a></li>
    <li><a href="https://github.com/gwmoura/platforms">Tsuru Platform - https://github.com/gwmoura/platforms</a></li>
    <li><a href="https://github.com/gwmoura/go-dockerclient">go-dockerclient - https://github.com/gwmoura/go-dockerclient</a></li>
    <li><a href="https://github.com/gwmoura/gcloud-ruby">gcloud-ruby - https://github.com/gwmoura/gcloud-ruby</a></li>
    <li><a href="https://github.com/gwmoura/bwag">bwag - https://github.com/gwmoura/bwag</a></li>
    <li><a href="https://github.com/gwmoura/lirioapp">Lirio APP - https://github.com/gwmoura/lirioapp</a></li>
    <li><a href="https://github.com/iblv/churchmetrics-api-client">Church Metrics API Client - https://github.com/iblv/churchmetrics-api-client</a></li>
    <li><a href="https://github.com/lememilitar/docker-ruby">Heroku Ruby Docker Image with TDS - https://github.com/lememilitar/docker-ruby</a></li>
    <li><a href="https://github.com/lememilitar/gcsfuse-install">gcsfuse install - https://github.com/lememilitar/gcsfuse-install</a></li>
  </ul>
</p>
<p class="info_plus">
  <div class="title">Informações Adicionais</div>
  Escritor do Tableless - <a href="http://tableless.com.br/author/gwmoura/">http://tableless.com.br/author/gwmoura/</a><br/>
  Aplicativos na Play Store - <a href="https://play.google.com/store/apps/developer?id=George+Moura">https://play.google.com/store/apps/developer?id=George+Moura</a><br/>
  Blog - <a href="http://www.georgemoura.com.br">http://www.georgemoura.com.br</a><br/>
  Github - <a href="https://github.com/gwmoura">https://github.com/gwmoura</a><br/>
  Twitter - <a href="http://twitter.com/georgemoura">http://twitter.com/georgemoura</a><br/>
</p>
