<div class="posts">
  <h4>Posts</h4>
  <ul>
  {{range .Posts}}
    <li><a href="{{.Link.Href}}">{{.Title}}</a></li>
  {{end}}
  </ul>
</div>
<div class="contatcts">
  <h4>Contatos</h4>
  <p>Tel: <a href="tel:07187886089">071 8788-6089</a></p>
  <p>E-mail: <a href="mailto:gwmoura@gmail.com">gwmoura@gmail.com</a></p>
  <p><a href="/feed/" title="Assinar Posts">RSS</a></p>
</div>