<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="description" content="{{.Description}}">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript,PHP,Ruby,Python,Go,Java,{{.Keywords}}">
    <meta name="author" content="George Moura">
    <title>George Moura - Desenvolvedor Web e Mobile</title>
    <link rel="icon" href="http://www.gravatar.com/avatar/563562a5c924aac52c903ddf4fd80fa8">
    <link rel="canonical" href="http://georgemoura.com.br/" />
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" media="all" href="/css/style.css" />
  </head>
  <body>
    {{if ne current "cv"}}
    <!--<header>
      <a class="home-link" href="/" title="George Moura" rel="home">
        <h1 class="site-title">George Moura</h1>
      </a>
      <h4 class="site-description">Programador Web e Mobile</h4>
    </header>
    <div class="menu">
      <a href="/" title="Início">Início</a> | 
      <a href="/blog" title="Blog">Blog</a> | 
      <a href="/curriculo" target="_blank" title="Currículo">Currículo</a> |
      <a href="/feed/" title="Assinar Posts">RSS</a>
    </div>-->
    <nav>
      <div class="nav-wrapper">
        <a href="/" title="George Moura" class="brand-logo">George Moura</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/" title="Início">Início</a></li>
          <li><a href="/blog" title="Blog">Blog</a></li> 
          <li><a href="/curriculo" target="_blank" title="Currículo">Currículo</a></li>
          <li><a href="/feed/" title="Assinar Posts">RSS</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/" title="Início">Início</a></li>
          <li><a href="/blog" title="Blog">Blog</a></li> 
          <li><a href="/curriculo" target="_blank" title="Currículo">Currículo</a></li>
          <li><a href="/feed/" title="Assinar Posts">RSS</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      {{end}}
        <!-- Render the current template here -->
        {{ yield }}
      {{if ne current "cv"}}
      <div>
        <div class="anuncio">
          anúncio
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- George Site -->
          <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-7444396631758040"
               data-ad-slot="9531772347"
               data-ad-format="auto"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
      </div>
    </div><!--/.container-->
    <footer>
      <center>
        <a href="http://www.facebook.com/gwmoura" target="_blank"><img src="/images/icon-facebook.png"  alt="Facebook"  /></a>
        <a href="https://github.com/gwmoura" target="_blank"><img src="/images/icon-github.png"  alt="Github"  /></a>
        <a href="http://www.twitter.com/georgemoura" target="_blank"><img src="/images/icon-twitter.png"  alt="Twitter"  /></a>
      </center>
      <hr/>
      <div class="footer-copyright">
        <div class="container">&copy; George Moura - 2015</div>
      </div>
    </footer>
    {{end}}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38960674-1']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/site.js"></script>
  </body>
</html>
