<article>
  <header>
    <h1 class="entry-title">{{ .Title }}</h1>
    <div class="entry-meta">
      <span class="date">
        <a href="{{ .Link }}" title="Link permanente para {{ .Title }}" rel="bookmark">
          <time class="entry-date" datetime="{{ .CreatedAt }}">{{ .CreatedAt }}</time>
        </a>
      </span>
    </div><!-- .entry-meta -->
  </header>

  <div class="entry-content">
    <p>No eu li de hoje, iremos falar do livro Implantação de Help Desk e Service Desk do autor Roberto Cohen.</p>

    <p>Este livro é indicado para quem está querendo criar Help desk ou quem vai começar a assumir uma posição de gerência nessa área.</p>


    <p>Para quem não conhece, um help desk é um centro de suporte técnico que existe nas empresas, na maioria dos casos é o pessoal que dá suporte nos computadores, impressoras e sistemas. É o pessoal que você liga quando tem alguma dúvida ou problema de uso de equipamento ou software.</p>


    <p>O livro aborda muitos assuntos da área, todos de forma superficial, porém bem objetiva, passando pelo básico do que um help desk deve ter até assuntos não tão discutidos na área, mas que possuem muita relevância.</p>


    <p>Entre os assuntos mais comuns da área temos:</p>

    <ul class="collection">
        <li class="collection-item">Catálogo de serviços</li>
        <li class="collection-item">Estilos de atendimento</li>
        <li class="collection-item">Gestão de equipes</li>
        <li class="collection-item">Contratação de pessoas</li>
        <li class="collection-item">Base de conhecimento</li>
        <li class="collection-item">Métricas</li>
        <li class="collection-item">Ferramentas</li>
    </ul>

    <p>Entre os assuntos não tão comuns temos:</p>

    <ul class="collection">
        <li class="collection-item">Marketing voltado para helpdesk</li>
        <li class="collection-item">Comunicação</li>
        <li class="collection-item">Relacionamento com outras áreas da empresa</li>
        <li class="collection-item">Terceirização</li>
    </ul>

    <p>O autor fez questão de ser bem direto no conteúdo, o que ajuda o leitor a entender cada capítulo e já começar a aplicar e depois, ir se aprofundando.</p>


    <p>Se você trabalha na área, vai assumir um cargo de gestão de um help desk ou quer iniciar um. Acredito muito que esse livro poderá te ajudar a entender como funciona a área e como se destacar nela.</p>


    <p>Se quiser comprar o livro temos o nosso link da Amazon <a href="https://www.amazon.com.br/gp/product/8575221647/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=8575221647&linkCode=as2&tag=gwmoura-20&linkId=da2f47de24004b9856b63b67538a2059" target="_blank">bem aqui</a>.</p>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=BR&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=gwmoura-20&marketplace=amazon&amp;region=BR&placement=8575221647&asins=8575221647&linkId=c2f2338c3ee5e8614f5c31aca417d0e1&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>

  </div>
  <footer>

  </footer>
</article>
