<article>
  <header>
    <h1 class="entry-title">{{ .Title }}</h1>
    <div class="entry-meta">
      <span class="date">
        <a href="{{ .Link }}" title="Link permanente para {{ .Title }}" rel="bookmark">
          <time class="entry-date" datetime="{{ .CreatedAt }}">{{ .CreatedAt }}</time>
        </a>
      </span>
    </div><!-- .entry-meta -->
  </header>

  <div class="entry-content">
    <p>No eu li de hoje vamos falar sobre o livro Os segredos da mente milionária do autor T. Harv Eker. Neste livro o autor ensina a pensar como uma pessoa rica, ajudando a substituir o modelo mental de pessoa pobre, por um modelo mental de pessoa rica.</p>

    <p>Na primeira parte do livro o autor fala sobre o modelo de dinheiro que a maioria das pessoas têm e ensina a reconhecer as crenças que fazem as pessoas pensarem como pobres.</p>

    <p>Na segunda parte, o autor mostra os arquivos da riqueza, ele destrincha o modelo mental que as pessoas ricas possuem e mostra também como as pessoas pobres pensam. São no total 17 “arquivos de riqueza”, 17 modos de pensar e agir que diferenciam os ricos das outras pessoas.</p>

    <p>Os arquivos são:</p>

    <ol class="collection">
        <li class="collection-item">As pessoas ricas acreditam na seguinte ideia: “Eu crio a minha própria vida”</li>
        <li class="collection-item">As pessoas ricas entram no jogo do dinheiro para ganhar</li>
        <li class="collection-item">As pessoas ricas assumem o compromisso de serem ricas</li>
        <li class="collection-item">As pessoas ricas pensam grande</li>
        <li class="collection-item">As pessoas ricas focalizam oportunidades</li>
        <li class="collection-item">As pessoas ricas admiram outras pessoas ricas e bem-sucedidas</li>
        <li class="collection-item">As pessoas ricas buscam a companhia de indivíduos positivos e bem-sucedidos</li>
        <li class="collection-item">As pessoas ricas gostam de se promover</li>
        <li class="collection-item">As pessoas ricas são maiores que seus problemas</li>
        <li class="collection-item">As pessoas ricas são excelentes recebedoras</li>
        <li class="collection-item">As pessoas ricas preferem ser remuneradas por seus resultados</li>
        <li class="collection-item">As pessoas ricas pensam: “Posso ter as duas coisas”</li>
        <li class="collection-item">As pessoas ricas focalizam em seu patrimônio líquido</li>
        <li class="collection-item">As pessoas ricas administram bem o seu dinheiro</li>
        <li class="collection-item">As pessoas ricas põem seu dinheiro para duro para elas</li>
        <li class="collection-item">As pessoas ricas agem apesar do medo</li>
        <li class="collection-item">As pessoas ricas aprendem e se aprimoram o tempo todo</li>
    </ol>

    <p>Para ajudar o leitor a entender e substituir a mentalidade pobre por uma mentalidade rica, o autor dedicou um capítulo do livro para cada arquivo, discorrendo, comparando e exemplificando.</p>

    <p>Se você se pergunta “Porque eu ralo tanto e não consigo ficar rico?”, esse livro pode ser a resposta, além dos arquivos de riqueza, conhecer o seu modelo de dinheiro é muito importante para ajudar a reconhecer onde você está errando e no que precisa mudar.</p>

    <p>Um outro ponto importante é que apesar do nome do livro ser “os segredos da mente milionária”, o livro fala muito sobre você aplicar os ensinamentos para ter liberdade financeira e viver com o quanto você achar necessário. No livro existem alguns casos de pessoas que mudaram de vida e não se tornaram multimilionárias, mas vivem de forma livre sem depender do trabalho.</p>

    <p>Esse livro é para ser lido mais de 1 vez até que os arquivos fiquem entranhados na sua mente.</p>

    <p>Se quiser comprar, temos o nosso link da Amazon <a href="https://www.amazon.com.br/segredos-mente-milion%C3%A1ria-Harv-Eker/dp/8575422391?crid=93XQKS0ENG4V&keywords=segredos+da+mente+milhonaria&qid=1641427269&sprefix=segredo%2Caps%2C263&sr=8-4&linkCode=ll1&tag=gwmoura-20&linkId=19523c69af7be0ecd498fd3306d615ad&language=pt_BR&ref_=as_li_ss_tl" target="_blank">bem aqui.</a></p>

    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=BR&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=gwmoura-20&language=pt_BR&marketplace=amazon&region=BR&placement=8575422391&asins=8575422391&linkId=e9fd5414cc865a39ff17555b4e4b4781&show_border=true&link_opens_in_new_window=true"></iframe>
  </div>
  <footer>

  </footer>
</article>
