{{template "cv/header"}}
<p class="info">
  Address: Salvador/Brazil<br/>
  Phone: +55 71 98788-6089 - E-mail: gwmoura@gmail.com<br/>
  {{with .YearsOld}} Years Old: {{.}} - {{end}}Marital Status: Maried
</p>
<p class="introduction">
  Software developer with experience in web systems, working with integrations between systems, automation process, e-commerces, mobile apps and web. Always searching new tecnologies to test and use, contributor of open source projects and curious.
</p>
<p class="formation">
  <div class="title">Academic Formation</div>
  <ul>
    <li>Sistemas para Internet – UNIFACS, conclusion in 2012</li>
  </ul>
</p>
<p class="profissional-xp">
  <div class="title">Professional Experience</div>
  <ul>
    <li>
      <b>2012-today - Personal Projects</b><br/>
      Created some projects to study, test, know and use new tecnologies, developed the your website on Google App Engine using Go,
      developed a simple android app to save comercial cards and published on Google Play, developed a web crawler to get informations about brazilian cities using Sinatra and Ruby, developed a simple script to study criptograph, developed some apps on Heroku and Google App Engine, used Digital Ocean, AWS and Google Cloud Platform to create and manage cloud servers, started to use Docker as your development environment. Contributed in some projects like tsuru/planb, tsuru/platforms and GoogleCloudPlatform/gcloud-ruby.
      <ol>
        <li>George Moura Site - Go</li>
        <li>Card Wallet - Android</li>
        <li>IBGE Search - Ruby</li>
        <li>Ubuntu Notify - Ruby</li>
        <li>py-caesar-cipher - Python</li>
        <li>python-imageopt - Python</li>
      </ol>
    </li>
    <li>
      <b>2015-2016 - Web Developer, Zertico.</b><br/>
      Contracted to ingress on the team for develop a new company solution involving cloud servers, API and command line tool.
      Developed a cloud solution for Softlayer clients.
      Created a cli tool to acces an API.
      Contributed with the development of a gem to consume Softlayer API.
      Developed a integration with Pagseguro.
      <ol>
        <li>Horus - Ruby, Rails</li>
        <li>Horus Cli - Ruby</li>
        <li>Softlayer Mock - Ruby</li>
      </ol>
    </li>
    <li>
      <b>2015-today - Software Developer, Igreja Batista Lírio dos Vales</b><br/>
      Volunteer as software developer, created and managed a small team to create and deliver products to improve the church.
      Developed a app for church, developed a site, developed a client to consume the Church Metrics API
      <ol>
        <li>Lírio SIte - PHP, wordpress</li>
        <li>Lirio APP - Ionic FrameWork</li>
        <li>Church Metrics API - Ruby, Sinatra</li>
      </ol>
    </li>
    <li>
      <b>2015 - Web Developer, Aulatech.</b><br/>
      Contracted to develop a system to reproduce video lessons with pagseguro integration.
      <ol>
        <li><b>Projects in company</b></li>
        <li>Aulatech Plaftorm - PHP, Laravel</li>
      </ol>
    </li>
    <li>
      <b>2015-2015 - Fellow CNPQ, Instituto SESI de Inovação - FIEB.</b><br/>
      Comunication point between SESI IT and Instituto Stela, resposible for test and manage Plataforma SESI Integra deliveries and create another solutions to integrate with Plataforma SESI Integra.
      Developed a API to integrate other systems with the system Plataforma SESI Integra.
      Developed a software for colect data from S4 (Sistema SESI de Saúde e Segurança) database and transporte for the API.
      Started a software to test Plataforma SESI Integra interface.
      <ol>
        <li><b>Projects in company</b></li>
        <li>Integrator - Java, Spring</li>
        <li>S4 Colector - Java, Spring</li>
        <li>SESI INtegra UI tester - Java, Selenium</li>
      </ol>
    </li>
    <li>
      <b>2014 - Web Developer, SIPP (Sistema de Informação para Proteção à Pessoa).</b><br/>
      Developed a new interface for the APP, permitting the visualization in mobile devices.
      <ol>
        <li><b>Projects in company</b></li>
        <li>SIPP APP - PHP, HTML, CSS, Javascript</li>
      </ol>
    </li>
    <li>
      <b>2014 - Web Developer, Projeto Indústria Ecoeficiente.</b><br/>
      Contracted to deliver a questionnaire solution to evaluate the project clients answers and from these answers create a report with tips of reduce costs
      <ol>
        <li><b>Projects in company</b></li>
        <li>Indústria Ecoeficiente Questionary - ruby, rails</li>
      </ol>
    </li>
    <li>
      <b>2013-2015 - Fellow CNPQ, IEL (Instituto Euvaldo Lodi) - FIEB.</b><br/>
      Developed a system to assist the inovation on company.
      Developed many hotsites to users subscribe in events.
      Developed a system to manage the resources of companies on the project.
      Developed a script to colect data in one database and replication on another.
      Developed a simple app to send event's images to a centralized server.
      Developed a questionary web app.
      Developed a API for one of modules of the SISJOIN.
      Developed a web app to access one module of the SISJOIN.
      Developed a questionary app to user register your informations about inovation and generate a report about the company's inovation level.
      Developed a simple chat using websockets
      <ol>
        <li><b>Projects in company</b></li>
        <li>Sisjoin - PHP, Wordpress</li>
        <li>Matriz JOIN - Python, Flask</li>
        <li>JOIN APP - Javascript, jQuery</li>
        <li>Sistema de Gestão Join - PHP, Laravel</li>
        <li>JOIN Colector - Python</li>
        <li>Gere Ideias APP - Javascript, Angular</li>
        <li>SISJOIN API - PHP, Slim </li>
        <li>SISJOIN Chat - Nodejs</li>
      </ol>
    </li>
    <li>
      <b>2012-2013 - Web Developer, Com Q Relógio.</b><br/>
      Contracted to Develop a e-commerce to integrate with Sefaz-BA, was used NFePHP to do the integration and emit NF-e
      <ol>
        <li><b>Projects in company</b></li>
        <li>Aulatech E-commerce - PHP, OpenCart</li>
      </ol>
    </li>
    <li>
      <b>2012-2013 - Web Developer, Julio Rocha</b><br/>
      Developed a website for the Julio Rocha campaign
      <ol>
        <li><b>Projects in company</b></li>
        <li>Julio Rocha Website - PHP, Wordpress</li>
      </ol>
    </li>
    <li>
      <b>2012-2012 - Web Developer, Almeida Camargo e Mota Advogados.</b><br/>
      Developed a user interface for a software created using the Maker software.
      <ol>
        <li><b>Projects in company</b></li>
        <li>Folder Manager Interface - HTML, CSS, Javascript</li>
      </ol>
    </li>
    <li>
      <b>2008 - today - Fullstack Developer - Leme Indústria e Comércio</b><br/>
      Created and implemented IT solutions for company, managed servers and was support for the company ERP.
      Developed a software to automate an manual process for client payment.
      Developed a software to manage the order of embroidery in the company.
      Developed a simple android  app to consult the client's order status.
      Developed a software to organize the internal process of ordering goods.
      Developed a report app to show the company's financial status.
      Developed a software to list company's contacts saved on ERP.
      Developed a script to sync company's stock with the e-commerce stock.
      Developed a e-commerce and added some changes to adapt the business needs
      Migrated a local infra structure to the AWS.
      Created a work load for use Tsuru on Google Cloud Platform.
      Created a simple app to automate the process of shutdown and start for the server on AWS.
      Automated the MSSQL backup routine and uploads the files to Google Cloud Storage.
      Created a simple product catalog.
      Created a login API to permit all apps use the same login interface.
      <ol>
        <li><b>Projects in company</b></li>
        <li>Leme Contatos - PHP, Slim</li>
        <li>Leme Encomenda - Python, Flask</li>
        <li>Leme BI - Ruby, Rails</li>
        <li>Leme Financeiro - PHP</li>
        <li>Leme e-commerce - PHP, OpenCart</li>
        <li>Windows e MSSQL na AWS</li>
        <li>Tsuru na Google Cloud Platform</li>
        <li>Leme Cloud Resources - Ruby, Sinatra</li>
        <li>Leme Demanda - PHP, Slim</li>
        <li>Metal Militar - Ruby, Rails</li>
        <li>Leme API - PHP, Slim</li>
        <li>Backup MSSQL - python</li>
        <li>e-commerce stock update</li>
      </ol>
    </li>
  </ul>
</p>
<p class="qualifications">
  <div class="title">Skills</div>
  <ul>
    <li><b>Programing Languages:</b> <code>C#, Go, Java, Javascript, PHP, Python, Ruby</code></li>
    <li><b>Frameworks:</b> <code>Rails, Sinatra, Laravel, Zend, Yii, Slim, Flask, jQuery, Nodejs, Twitter Bootstrap, Angular JS</code></li>
    <li><b>Test Frameworks:</b> <code>PHPUnit, Ruby test-unit, minitest, Python unittest, QUnit, JUnit, Selenium</code></li>
    <li><b>Metodologies:</b> <code>Kanban</code></li>
    <li><b>Operacional System:</b> <code>Linux, Windows, Mac, Chrome OS</code></li>
    <li><b>Mobile Operational System:</b> <code>Android, Windows Phone, Firefox OS</code></li>
    <li><b>Version Control:</b> <code>Git</code></li>
    <li><b>Virtualization:</b> <code>VirtualBox, Vagrant, Docker</code></li>
    <li><b>Databases:</b> <code>Microsoft SQL Server, MySQL, PostgreSQL</code></li>
    <li><b>Monitoring:</b> <code>Google Analytics, Newrelic</code></li>
    <li><b>PaaS:</b> <code>Google Appengine, Heroku, Tsuru</code></li>
    <li><b>Cloud Providers:</b> <code>Amazon, Digital Ocean, Google Cloud Platform</code></li>
  </ul>
</p>
<p class="open_source_projects">
  <div class="title">Open Source Projects</div>
  <ul>
    <li><a href="https://github.com/12factor/12factor-br">12factor Apps BR - github.com/12factor/12factor-br</a></li>
    <li><a href="https://github.com/gomex/docker-zabbix">docker-zabbix - github.com/gomex/docker-zabbix</a></li>
    <li><a href="https://github.com/lememilitar/bkpsqlserver">bkpsqlserver - github.com/lememilitar/bkpsqlserver</a></li>
    <li><a href="https://github.com/gwmoura/ibge-search">IBGE Search - github.com/gwmoura/ibge-search</a></li>
    <li><a href="https://github.com/gwmoura/churchmanager">Church Manager - github.com/gwmoura/churchmanager</a></li>
    <li><a href="https://github.com/gwmoura/python-imageopt">Python Imageopt - github.com/gwmoura/python-imageopt</a></li>
    <li><a href="https://github.com/gwmoura/planb">Planb - https://github.com/gwmoura/planb</a></li>
    <li><a href="https://github.com/gwmoura/platforms">Tsuru Platform - https://github.com/gwmoura/platforms</a></li>
    <li><a href="https://github.com/gwmoura/go-dockerclient">go-dockerclient - https://github.com/gwmoura/go-dockerclient</a></li>
    <li><a href="https://github.com/gwmoura/gcloud-ruby">gcloud-ruby - https://github.com/gwmoura/gcloud-ruby</a></li>
    <li><a href="https://github.com/gwmoura/bwag">bwag - https://github.com/gwmoura/bwag</a></li>
    <li><a href="https://github.com/gwmoura/lirioapp">Lirio APP - https://github.com/gwmoura/lirioapp</a></li>
    <li><a href="https://github.com/iblv/churchmetrics-api-client">Church Metrics API Client - https://github.com/iblv/churchmetrics-api-client</a></li>
    <li><a href="https://github.com/lememilitar/docker-ruby">Heroku Ruby Docker Image with TDS - https://github.com/lememilitar/docker-ruby</a></li>
    <li><a href="https://github.com/lememilitar/gcsfuse-install">gcsfuse install - https://github.com/lememilitar/gcsfuse-install</a></li>
  </ul>
</p>
<p class="info_plus">
  <div class="title">Adicional Informations</div>
  Volunteer on Igreja Batista Lírio dos Vales - Pituba<br/>
  Co-organizer of Docker Salvador meetup<br/>
  Tableless Writter - <a href="http://tableless.com.br/author/gwmoura/">http://tableless.com.br/author/gwmoura/</a><br/>
  Play Store APPs - <a href="https://play.google.com/store/apps/developer?id=George+Moura">https://play.google.com/store/apps/developer?id=George+Moura</a><br/>
  Blog - <a href="http://www.georgemoura.com.br">http://www.georgemoura.com.br</a><br/>
  Github - <a href="https://github.com/gwmoura">https://github.com/gwmoura</a><br/>
  Twitter - <a href="http://twitter.com/georgemoura">http://twitter.com/georgemoura</a><br/>
</p>
