<div class="main">
  <div>
    <h3>Ainda Que a Figueira</h3>
    <div class="cnt-letra">
      <p><a href="https://letras.mus.br/fernandinho/1496848/">Link para a música e a letra</a></p>
      <p>Tu és a minha porção<br>Tu és a minha herança<br>Tu és o meu socorro<br>Nos dias de tribulação</p>
      <p>Mesmo que meus pais me deixem<br>Mesmo que amigos me traiam<br>Eu sei que em Seus braços<br>Eu encontro salvação</p>
      <p>Ainda que a figueira não floresça<br>Ainda que a videira não dê o seu fruto<br>Mesmo que não haja alimento nos campos<br>Eu me alegrarei em Ti</p>
    </div>
  </div>
  <hr/>
  <div>
    <h3>Te Agradeço</h3>
    <div class="cnt-letra">
      <p><a href="https://letras.mus.br/diante-do-trono/432327/">Link para a música e a letra</a></p>
      <p>Por tudo o que tens feito<br>Por tudo o que vais fazer<br>Por tuas promessas e tudo o que és<br>Eu quero te agradecer<br>Com todo o meu ser</p>
      <p>Te agradeço, meu senhor<br>Te agradeço, meu senhor</p>
      <p>Te agradeço por me libertar e salvar<br>Por ter morrido em meu lugar<br>Te agradeço<br>Jesus, te agradeço<br>Eu te agradeço<br>Te agradeço</p>
    </div>
  </div>
  <hr/>
  <div>
    <h3>Raridade</h3>
    <div class="cnt-letra">
      <p><a href="https://letras.mus.br/anderson-freire/raridade/">Link para a música e a letra</a></p>
      <p>Não consigo ir além do teu olhar<br>Tudo o que eu consigo é imaginar<br>A riqueza que existe dentro de você</p>
      <p>O ouro eu consigo só admirar<br>Mas te olhando eu posso a Deus adorar<br>Sua alma é um bem que nunca envelhecerá</p>
      <p>O pecado não consegue esconder<br>A marca de Jesus que existe em você<br>O que você fez ou deixou de fazer<br>Não mudou o início, Deus escolheu você<br>Sua raridade não está naquilo que você possui<br>Ou que sabe fazer<br>Isso é mistério de Deus com Você</p>
      <p>Você é um espelho que reflete a imagem do Senhor<br>Não chore se o mundo ainda não notou<br>Já é o bastante Deus reconhecer o seu valor<br>Você é precioso, mais raro que o ouro puro de ofir<br>Se você desistiu, Deus não vai desistir<br>Ele está aqui pra te levantar se o mundo te fizer cair</p>
    </div>
  </div>

</div>
